@import url(./__logo/header__logo.css);

.header {
  margin: auto;
  margin-top: 45px;
  margin-bottom: 40px;
  max-width: 882px;
  height: 74px;
  border-bottom: 1px solid #545454;
  background-color: black;
}
