@import url(./__caption/photo-popup__caption.css);
@import url(./__image-container/photo-popup__image-container.css);
@import url(./__image/photo-popup__image.css);
@import url(./__close-button/photo-popup__close-button.css);

.photo-popup {
  width:100%;
  background-color: rgba(0,0,0,0.5);
  overflow:hidden;
  position:fixed;
  top: 0;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 0;
  opacity: 0;
  transition: height 0ms 400ms, opacity 200ms 0ms;
}

.photo-popup:hover {
  cursor: pointer;
}

