.profile__add-button {
  width: 150px;
  height: 50px;
  border: 2px solid #FFFFFF;
  border-radius: 2px;
  margin-left: auto;
  background-image: url(../../../images/add-button.svg);
  transition: opacity 0.3s linear;
  background-color: transparent;
  background-size: contain;
  padding: 0;
  background-position: center;
}

.profile__add-button:focus {
  outline: none;
}

.profile__add-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .profile__add-button {
    margin: 0;
    width: 282px;
    background-position: center;
    background-repeat: no-repeat;
  }
}
