.footer__copyright {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
}

@media screen and (max-width: 900px) {
  .footer__copyright {
    margin-left: 27px;
  }
}
