.popup__input-about {
  width: 358px;
  border: none;
  border-bottom: 1px solid #000000;
  margin-bottom: 30px;
  height: 27px;
  text-overflow: ellipsis;

}

@media screen and (max-width: 515px) {
  .popup__input-about {
    width: 100%;
  }
}
