@import url(./__logo/header__logo.css);

.header {
  margin: auto;
  margin-top: 45px;
  margin-bottom: 40px;
  max-width: 882px;
  border-bottom: 1px solid #545454;
  background-color: black;
}

@media screen and (max-width: 500px) {
  .header {
    margin-top: 28px;
    margin-bottom: 42px;
  }
}
